.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 4px solid #F4FFFF;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    background-size: contain;
    cursor: pointer; /* Adicionado para definir o cursor como pointer */
    color: #2EB3F0;
}

.color{
    color: #000;

}

.acordeon.open,
.acordeon:hover {
    background-color: #00AAF1;
    border-color: #00AAF1;
    color: black; /* Mudar a cor do texto quando o acordeão está aberto ou quando o mouse está sobre ele */
}

.acordeon.open .trigger,
.acordeon:hover .trigger {
    color: black; /* Mudar a cor do texto do botão quando o acordeão está aberto ou quando o mouse está sobre ele */
}


.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .title::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
}

.acordeon .content {
    display: none;
}

.acordeon.open .trigger::after {
    transform: rotate(260deg);
    
}

/* Regras para mostrar o conteúdo ao clicar no botão */
.trigger:focus + .content{
    display: block;
}

.trigger-checkbox:checked ~ .content {
    display: none;
}
