.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 4px solid #70675C;
    border-radius: 1rem;
    transition: .25s;
    
}



.acordeon .trigger{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    background-size: contain;
}
.acordeon.open,
.acordeon:hover{
    background-color: #7C6A55;
    border-color: #7C6A55;
    
}

.acoderon .trigger:hover{
    cursor:pointer;
}

.acordeon .title::after{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
}

.acordeon .content{
    display: none;
}

.acordeon.open .trigger::after{
    transform: rotate(260deg);
}
  