
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
}

@font-face {
    font-family: "Neue Machina";
    src:url('/css/fonts/neue-machina-regular.otf');
}

body {
    margin: 0; /* Remova as margens padrão do body */
    overflow: hidden; /* Para garantir que não haja barras de rolagem */
    background-size: cover;
    background-color: #123556;
}



.main{
    border: 1px solid #fff;
    border-radius: 2%;
    padding: .3rem;
    margin: .10rem auto;
    width: flexible;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    

}

.main::before{
    content: '';
    background-repeat: no-repeat;
    background-size: content;
}