
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
}

@font-face {
    font-family: "Neue Machina";
    src:url('/css/fonts/neue-machina-regular.otf');
}

.body {
    background-color: #000;
    color: #fff
}


.main{
    border: 1px solid #fff;
    border-radius: 2%;
    padding: .3rem;
    margin: .10rem auto;
    width: 400px;
    margin-top: 50px;

    
    
}

main::before{
    background-repeat: no-repeat;
    background: fixed;
    

}