
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
}

@font-face {
    font-family: "Neue Machina";
    src:url('/css/fonts/neue-machina-regular.otf');
}

body {
    margin: 0; /* Remova as margens padrão do body */
    background-size: cover;
    background-color: #E4DACC;
}



.main{
    border: 5px solid #70675C;
    border-radius: 2%;
    padding: .3rem;
    margin: .10rem auto;
    width: flexible;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    

}

.main::before{
    content: '';
    background-repeat: no-repeat;
    background-size: content;
}

@media only screen and (min-width: 768px){
    .main{
        max-width: 1024px;
        margin: 40px auto;

    }
    
    .main :after,
    .main :before {
        width: 70vw;
    }


    
}